<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h1 class="text-end">Hello World</h1>

    <hr>

    <div class="display-1">Hello World</div>

    <hr>

    <span class="text-muted">Hello World</span>

    <hr>

    <a href="#" class="btn btn-primary">Test button</a>

    <hr>

    <p class="text-primary">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>